{% extends 'base.html' %}
{% block title %}Admin Login{% endblock %}

{% block content %}

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-5">

      <div class="card shadow-lg border-0">
        <div class="card-header bg-primary text-white text-center">
          <h4>Admin Login</h4>
        </div>

        <div class="card-body p-4">

          <form method="POST" action="/admin-login">

            <div class="mb-3">
              <label class="form-label">Email</label>
              <input type="email" name="email" class="form-control" placeholder="Enter email" required>
            </div>

            <div class="mb-3">
              <label class="form-label">Password</label>
              <input type="password" name="password" class="form-control" placeholder="Enter password" required>
            </div>

            <button class="btn btn-primary w-100">Login</button>

          </form>

          <div class="d-flex justify-content-between mt-3">
            <a href="/admin-forgot-password">Forgot Password?</a>
            <a href="/admin-signup">Register</a>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}