{% extends 'base.html' %}
{% block title %}Forgot Password{% endblock %}

{% block content %}

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-5">

      <div class="card shadow-lg border-0">
        <div class="card-header bg-warning text-dark text-center">
          <h4>Forgot Password</h4>
        </div>

        <div class="card-body p-4">

          <form action="/send-reset-link-admin" method="post">

            <div class="mb-3">
              <label class="form-label">Registered Email</label>
              <input type="email" name="email" class="form-control" placeholder="Enter your email" required>
            </div>

            <button class="btn btn-warning w-100">
              Send Reset Link
            </button>

          </form>

          <p class="mt-3 text-center">
            <a href="/admin-login">Back to Login</a>
          </p>

        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}