{% extends 'base.html' %}
{% block title %}Product Details{% endblock %}

{% block content %}

<div class="row justify-content-center">
  <div class="col-md-6">

    <div class="card shadow-lg border-0 text-center p-4">

      <img src="/static/uploads/product_images/{{product.image}}"
           class="img-fluid rounded mb-3"
           style="max-height:250px; object-fit:cover;">

      <h4>{{ product.name }}</h4>

      <p class="text-muted">{{ product.description }}</p>

      <p><strong>Category:</strong> {{ product.category }}</p>
      <p><strong>Price:</strong> ₹{{ product.price }}</p>

      <a href="/admin/item-list" class="btn btn-secondary mt-2">Back</a>

    </div>

  </div>
</div>

{% endblock %}