{% extends 'base.html' %}
{% block title %}Order Success{% endblock %}

{% block content %}

<div class="container py-5">

<div class="card shadow-lg border-0 rounded-4 p-4 p-md-5 text-center">

    <h2 class="text-success mb-3">🎉 Order Confirmed!</h2>
    <p>Thank you for shopping with <strong>SmartCart</strong></p>

    <hr>

    <div class="text-start">

        <p><strong>Order ID:</strong> {{ order.order_id }}</p>
        <p><strong>Payment ID:</strong> {{ order.razorpay_payment_id }}</p>
        <p><strong>Amount Paid:</strong> ₹{{ order.amount }}</p>
        <p><strong>Date:</strong> {{ order.created_at }}</p>
        <p><strong>Address:</strong> {{ order.address }}</p>

    </div>

    <hr>

    <h5 class="mb-3">🛒 Order Summary</h5>

    <div class="table-responsive">
    <table class="table table-hover">

        <thead class="table-light">
            <tr>
                <th>Product</th>
                <th>Qty</th>
                <th>Price (₹)</th>
            </tr>
        </thead>

        <tbody>
            {% for i in items %}
            <tr>
                <td>{{ i.product_name }}</td>
                <td>{{ i.quantity }}</td>
                <td>₹{{ i.price }}</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
    </div>

    <div class="mt-4 d-flex flex-column flex-md-row justify-content-center gap-2">

        <a href="/user/products" class="btn btn-primary">
            Continue Shopping
        </a>

        <a href="/user/my-orders" class="btn btn-outline-dark">
            My Orders
        </a>

        <a href="/user/download-invoice/{{ order.order_id }}" 
           class="btn btn-success">
           Download Invoice
        </a>

    </div>

</div>

</div>

{% endblock %}