{% extends 'base.html' %}
{% block title %}Checkout{% endblock %}

{% block content %}

<div class="container py-5">
<div class="row justify-content-center">
<div class="col-lg-5">

<div class="card shadow-lg border-0 rounded-4 p-4 text-center">

    <h4 class="mb-3">💳 Secure Checkout</h4>

    <p class="fs-5">Total Amount</p>
    <h3 class="text-success mb-4">₹{{ amount }}</h3>

    <div class="mb-3 text-start">
        <label class="fw-semibold">Delivery Address</label>
        <textarea id="address" class="form-control" rows="3"
            placeholder="Enter your full delivery address" required></textarea>
    </div>

    <button id="rzp-button" class="btn btn-success w-100 py-2">
        Pay Now
    </button>

</div>

</div>
</div>
</div>

<!-- Razorpay -->
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
var options = {
    "key": "{{ key_id }}",
    "amount": "{{ amount * 100 }}",
    "currency": "INR",
    "name": "SmartCart",
    "description": "Order Payment",
    "order_id": "{{ order_id }}",

    "handler": function (response){

    var address = document.getElementById("address").value;

    if(address.trim() === ""){
        alert("Please enter delivery address!");
        return;
    }

    var form = document.createElement("form");
    form.method = "POST";
    form.action = "/verify-payment";

    var fields = {
        razorpay_payment_id: response.razorpay_payment_id,
        razorpay_order_id: response.razorpay_order_id,
        razorpay_signature: response.razorpay_signature,
        address: address   // ✅ ADD THIS
    };

    for (var name in fields) {
        var input = document.createElement("input");
        input.type = "hidden";
        input.name = name;
        input.value = fields[name];
        form.appendChild(input);
    }

    document.body.appendChild(form);
    form.submit();
}
};

var rzp = new Razorpay(options);
document.getElementById('rzp-button').onclick = function(e){

    var address = document.getElementById("address").value;

    if(address.trim() === ""){
        alert("Please enter delivery address!");
        e.preventDefault();
        return;
    }

    rzp.open();
    e.preventDefault();
}
</script>

{% endblock %}