{% extends 'base.html' %}

{% block title %}Reset Password{% endblock %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-5">

        <div class="card shadow-sm p-4">

            <h4 class="text-center mb-3">Reset Password</h4>

            <form method="POST">

                <input type="password" name="password" 
                       class="form-control mb-3" 
                       placeholder="Enter New Password" required>

                <button class="btn btn-primary w-100">
                    Reset Password
                </button>

            </form>

            <div class="text-center mt-3">
                <a href="/user-login">Back to Login</a>
            </div>

        </div>

    </div>
</div>

{% endblock %}