{% extends 'base.html' %}
{% block title %}Reset Password{% endblock %}

{% block content %}

<div class="container py-5">
<div class="row justify-content-center">
<div class="col-12 col-sm-10 col-md-6 col-lg-4">

    <div class="card shadow-lg border-0 rounded-4 p-4">

        <h4 class="text-center mb-3">🔑 Reset Password</h4>

        <form method="POST">

            <div class="mb-3">
                <input type="password" name="password" 
                       class="form-control form-control-lg" 
                       placeholder="Enter New Password" required>
            </div>

            <button class="btn btn-primary w-100 py-2">
                Reset Password
            </button>

        </form>

        <div class="text-center mt-3">
            <a href="/user-login">← Back to Login</a>
        </div>

    </div>

</div>
</div>
</div>

{% endblock %}