{% extends 'base.html' %}
{% block title %}User Login{% endblock %}

{% block content %}

<div class="container py-5">
<div class="row justify-content-center">
<div class="col-12 col-sm-10 col-md-6 col-lg-4">

    <div class="card shadow-lg border-0 rounded-4 p-4">

        <h4 class="text-center mb-3">🔐 User Login</h4>

        <form method="POST" action="/user-login">

            <div class="mb-3">
                <input type="email" name="email" 
                       class="form-control form-control-lg" 
                       placeholder="Enter Email" required>
            </div>

            <div class="mb-3">
                <input type="password" name="password" 
                       class="form-control form-control-lg" 
                       placeholder="Enter Password" required>
            </div>

            <button class="btn btn-primary w-100 py-2">
                Login
            </button>

        </form>

        <div class="text-center mt-3">
            <a href="/user-register">Create Account</a><br>
            <a href="/user-forgot-password">Forgot Password?</a>
        </div>

    </div>

</div>
</div>
</div>

{% endblock %}